# Never commit the secret service account key
firebase-service-account-key.json

# Do not lock NPM library versions - install the latest that is supported and do test before going to production
package-lock.json

# Other non-useless pre-created github rules for local artifacts
bower_components
node_modules/
.npm
.eslintcache
*.tgz
.env
.env.test
.cache
dist
.serverless/
